# NODE CONFIGS
NODE_ENV=development
ENVIRONMENT=local
PORT=3000

# DATABASE CONFIGS
MONGO_DB_URI=mongodb://localhost:27017/task-manager
MONGO_DB_URI_E2E_TEST=mongodb://localhost:27017/task-manager-test